*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background: var(--main-bg);
  color: whitesmoke;

  display: flex;
  flex-direction: column;
}
